<h1><span data-i18n="skills.my_skills">Minha história</span></h1>

<div>
<p>Nasci em 1985 e sou natural de Nova Friburgo - RJ. Fui para Juiz de Fora (MG) fazer graduação em Geografia e morei nesta cidade por 13 anos. Durante a graduação, comecei a me apaixonar pelo campo da Geografia da Saúde. Por lá, também trabalhei por 9 anos na iniciativaprivada, na área de inteligência geográfica e geoprocessamento. Fiz especialização em Métodos Quantitativos Computacionais e mestrado em Saúde Coletiva na UFJF. Em 2017 mudei para o Rio de Janeiro para fazer doutorado em Informação e Comunicação em Saúde.</p>
<p>Procuro convergir em minha carreira a combinação de mapas, saúde, estatística e visualização de dados, produzindo pesquisas aplicadas em uma perspectiva de ciência aberta.</p>
</div>